/*
 * Globals
 */

/* Links */
a,
a:focus,
a:hover {
  color: #333;
}

/* Custom default button */
.btn-secondary,
.btn-secondary:hover,
.btn-secondary:focus {
  color: #333;
  text-shadow: none; /* Prevent inheritance from `body` */
  background-color: #fff;
  border: .05rem solid #fff;
}


/*
 * Base structure
 */

html,
body {
  height: 100%;
  background-color: #1295b9;
  font-family: 'Raleway', sans-serif;
  font-weight: 400;
}
body {
  color: #000;
  text-align: center;
  /* text-shadow: 0 .05rem .1rem rgba(0,0,0,.5); */
}

/* Extra markup and styles for table-esque vertical and horizontal centering */
.site-wrapper {
  display: table;
  width: 100%;
  height: 100%; /* For at least Firefox */
  min-height: 100%;
  -webkit-box-shadow: inset 0 0 5rem rgba(0,0,0,.5);
          box-shadow: inset 0 0 5rem rgba(0,0,0,.5);
}
.site-wrapper-inner {
  display: table-cell;
  vertical-align: top;
}
.cover-container {
  margin-right: auto;
  margin-left: auto;
}

.cover-heading {
  font-weight:900;
  text-align: left;
}

/* Padding for spacing */
.inner {
  padding: 2rem;
}

.lead {
  text-align: left;
}

.center {
  text-align: center !important;
}

.image-iphone {
  background:url('../images/iphone.png') center; 
  height:600px;
}


/*
 * Header
 */

.masthead {
  margin-bottom: 2rem;
}

.masthead-brand {
  margin-bottom: 0;
}

.nav-masthead .nav-link {
  padding: .25rem 0;
  font-weight: bold;
  color: rgba(255,255,255,.5);
  background-color: transparent;
  border-bottom: .25rem solid transparent;
}

.nav-masthead .nav-link:hover,
.nav-masthead .nav-link:focus {
  border-bottom-color: rgba(255,255,255,.25);
}

.nav-masthead .nav-link + .nav-link {
  margin-left: 1rem;
}

.nav-masthead .active {
  color: #fff;
  border-bottom-color: #fff;
}

@media (min-width: 48em) {
  .masthead-brand {
    float: left;
  }
  .nav-masthead {
    float: right;
  }
}


/*
 * Cover
 */

.cover {
  padding: 5rem 1.5rem 0 1.5rem;
}
.cover .btn-lg {
  padding: .75rem 1.25rem;
  font-weight: bold;
}


/*
 * Footer
 */

.footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    min-height: 70px;
    line-height: 60px;
    color:#FFF;
    font-size:10pt;
    background-color: #000;
    padding-top:5px;
}


.site-wrapper-inner {
    vertical-align: middle;
    background-image:url('../images/bg.jpg');
    background-size:     cover;                     
    background-repeat:   no-repeat;
    background-position: center center;              
}

/*
* Modal
*/ 

.bd-example-modal {background-color:#fafafa}
.bd-example-modal .modal{position:relative;top:auto;right:auto;bottom:auto;left:auto;z-index:1;display:block}
.bd-example-modal .modal-dialog{left:auto;margin-right:auto;margin-left:auto}


/*
 * Affix and center
 */



@media (min-width: 40em) {
  .masthead {
    position: fixed;
    top: 0;
  }
  .mastfoot {
    position: fixed;
    bottom: 0;
  }
  /* Handle the widths */
  .masthead,
  .mastfoot,
  .cover-container {
    width: 100%; /* Must be percentage or pixels for horizontal alignment */
  }
}

@media (min-width: 62em) {
  .masthead,
  .mastfoot,
  .cover-container {
    width: 52rem;
  }
}

@media only screen and (max-device-width: 480px) {
  .image-iphone {
    display:none;
  }

  .lead,
  .cover-heading {
    text-align: center;
  }

  .footer {
    line-height: 25px;
  }
}